{% extends "base.html" %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for user in users %}
    <div class="col">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{ user[0].first_name }} {{ user[0].last_name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Class of {{ user[1].graduation_year }}</h6>
          <p class="card-text">Interests: {{ user[1].interests}}</p>
          <p class="card-text">Skills: {{ user[1].skills }}</p>
          <a href="mailto:yairgritzman@gmail.com"><p>Contact</p></a>
        </div>
      </div>
    </div>
    {% endfor %}
    
</div>
{% endblock %}